.container {
  display: flex;
  flex-direction: row;
  background-color: coral;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh
}

.container .box {
  padding: 20px;
  background-color: yellow;
  background: linear-gradient(to bottom, #ffffff 0%, #999 100%);
  cursor: pointer;
}